body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*This section specifies embedded content CSS*/

#reportContainer {
    height: 650px;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px
}

#dashboardContainer {
    height: 920px;
    width: 100%;
    max-width: 1320px;
}

    #dashboardContainer iframe {
        border: none;
    }

#buttonsWrapper {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

#buttonsWrapper a {
    background-color: rgb(36, 169, 225);
    border: none;
    color: white;
    padding: 5px 30px;
    margin: 5px;
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

    #buttonsWrapper a:hover {
        font-size: 120%;
    }

#tileContainer {
    width: 400px;
    height: 350px;
}

.infoBox {
    margin-top: 30px;
}

/*END - This section specifies embedded content CSS*/